.App {
  text-align: center;
}

.task1{
  width: 90%;
  margin: 3% auto;
  text-align: left;
}
.task1 table{
  border: 2px ridge black;
  border-radius: 5px;
  background-color: #eee;
  padding: 2%;
}
.task1 table th{
  text-align: center;
}
.task1 table td{
  padding: 3% 2%;
}
/* .task1  */