.App {
  /* text-  align: center; */
}

.task{
  width: 70%;
  margin: 3% auto;
  text-align: left;
}
.task table{
  border: 2px ridge black;
  border-radius: 5px;
  background-color: #eee;
  padding: 2%;
}
.task table th{
  padding: 2%;
  /* text-align: center; */
}
.task table td{
  padding: 3% 2%;
}

